/* footer */
/* Author: Maurice Vossen */

footer {
    float: left;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    border-top: 2px solid rgb(183, 151, 100);
    }

#footer-div {
    margin-top: 30px;
    }

#footer-div > span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: whitesmoke;
    }

#footer-div li {
    font-size: 24px;
    list-style-type: none;
    display: inline;
    margin: 0 20px;
    }

#footer-div ul {
    text-align: center;
    margin-top: 10px;
    padding: 0;
    }

#footer-div a {
    text-decoration: none;
    color: whitesmoke;
    }

#footer-div a:hover {
    /* Credit: transition: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
    transition: 1s;
    color: rgb(183, 151, 100);
    }

#copyright {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 22px;
    color: whitesmoke;
    margin: 30px 20px 0px 30px;
    padding-bottom: 30px;
    }

#copyright-breakline {
    display: none;
    }

/* media queries for footer only */
@media only screen and (max-width: 460px) {
       
    #copyright-breakline {

        display: block;

        }

    }