/* Credit: Font Type implemented from Google Fonts -> https://fonts.google.com/specimen/Libre+Franklin */ 
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500&display=swap');

#header-logo-div {
    width: 80%;
    float: left;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.85);
    }

#logo-div {
    margin-top: 25px;
    margin-left: 25px;
    }

#logo-text-top {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.2px;
    color: white;
    }

#logo-text-bottom {
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 6px;
    color: rgb(223, 152, 96);
    line-height: 44px;
    }

#logo-div > a {
    text-decoration: none;
    }

    #header-flags-div {
    height: 130px;
    width: 30%;
    }

#header-flags-div {
    width: 20%;
    float: left;
    background-color: rgba(0, 0, 0, 0.85);
    }

.flag-div {
    float: right;
    height: 20px;
    border: 1px solid rgb(100, 100, 100);
    margin-top: 25px;
    margin-right: 25px;
    font-size: 12px;
    }

.navbar {
    float: left;
    width: 100%;
    background-color:transparent;
    border-bottom: 2px solid rgb(223, 152, 96);
    background-color: rgba(0, 0, 0, 0.85);
    }

#myNavbar {
    font-size: 26px;
    font-weight: 100;
    padding-bottom: 10px;
    }

.nav-color {
    color: white;
    }

#index-anchor, #menu-anchor, #reservations-anchor, #contact-anchor{
    color: white;
    }

#active {
    color: rgb(223, 152, 96);
    }

#audio-div {
    text-align: right;
    color: white;
    margin-right: 20px;
    }

audio {
    width: 120px;
    height: 30px;
    background-color: rgb(28, 97, 65);
    border-radius: 10px;
    border: 1px solid white;
    }

@media only screen and (min-width: 769px)
    {
        .container-fluid {
            display: flex;
            justify-content: center;
        }
    }

@media only screen and (max-width: 400px)
    {
        #logo-text-top {
            font-size: 16px;
        }

        #logo-text-bottom {
            font-size: 39px;
        }
    }