
#main-div {
    float: left;
    width: 100%;
    overflow: hidden;
    }

#welcome-section {
    margin-top: 30vh;
    margin-bottom: 50vh;
    }

#welcome-section div {
    float: left;
    }

#welcome-section p {
     padding-top: 0;
    }

/* Credit: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_firstchild */
#welcome-section div:first-child{
    width: 100%;
}

#location-map {
    object-fit: cover;
    margin: 15px auto 10px auto;
    width: 90%;
    height: 90%;
    float: none;
    border: 2px solid black;
    }

#map-description {
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0 auto 30px auto;
    }

#location-map > a > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    }

.payment-icon {
    font-size: 38px;
    margin: 0 6px;
    color: rgb(223, 152, 96);
    }


/* media queries */
@media only screen and (max-width: 900px)
    {
        #main-div {
            box-sizing: border-box;
            overflow: hidden;
        }

        .section-div {
            width: 90%;
            box-sizing: border-box;
            overflow: hidden;   
        }

        .section-div div {
            display: block;
            float: none;
            width: 100%;
        }

        #location-section {
            width: 90%;
        }
        
    }


@media only screen and (max-width: 400px)
    {
        

        .section-div p {
            font-size: 14px;
            margin: 10px 20px 30px 20px;
     
        }

    }