/* index.css */
/* Author: Maurice Vossen */

#main-div {
    float: left;
    width: 100%;
    overflow: hidden;
    }

.section-div {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 10vh auto;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(223, 152, 96);
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
   }

.section-div div {
    float: left;
    width: 50%;
    }

.section-div p {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 10px 20px 30px 20px;
    box-sizing: border-box;
    color: whitesmoke;
    }

#welcome-section {
    margin-top: 10vh;
    margin-bottom: 50vh;
    }

#welcome-section div {
    float: left;
    }

#welcome-section p {
     padding-top: 0;
    }

/* Credit: Selecting first child: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_firstchild */
#welcome-section div:first-child {
    width: 100%;
    }

#location-map {
    object-fit: cover;
    margin: 15px auto 10px auto;
    width: 90%;
    height: 90%;
    float: none;
    border: 2px solid black;
    }

#map-description-top {
    font-size: 16px;
    color: whitesmoke;
    margin: 0;
    }

#map-description-bottom {
    font-size: 12px;
    color: whitesmoke;
    padding: 2px 0 30px 0;
    margin: 0;
    }

#location-map > a > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    }

.text-field {
    color: rgb(223, 152, 96);
    width: 50%; padding: 5px 10px;
    font-size: 16px;
    border: 1px solid rgb(223, 152, 96);
    background-color: transparent;
    }

.button {
    background-color: rgb(28, 97, 65);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    margin: 20px 0 30px 0;
    font-size: 16px;
    padding: 5px 20px;
    letter-spacing: 1px;
    font-weight: 400;
    }

.button:hover {
    background-color: rgb(10, 34, 23);
    transition: 1s;
    }

.anchor-button {
    margin-bottom: 30px;
    margin-top: 10px;
    }

.anchor-button a {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(28, 97, 65);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 5px 20px;
    }

.payment-icon {
    font-size: 38px;
    margin: 0 6px;
    color: rgb(223, 152, 96);
    }


/* media queries for index.html only */
@media only screen and (max-width: 900px)
    {
        #main-div {
            box-sizing: border-box;
            overflow: hidden;
        }

        .section-div {
            width: 90%;
            box-sizing: border-box;
            overflow: hidden;   
        }

        .section-div div {
            display: block;
            float: none;
            width: 100%;
        }

        #location-section {
            width: 90%;
        }

    }

/* media queries for index page only */
@media only screen and (max-width: 900px)
    {
        #main-div {
            box-sizing: border-box;
            overflow: hidden;
        }

        .section-div {
            width: 90%;
            box-sizing: border-box;
            overflow: hidden;   
        }

        .section-div div {
            display: block;
            float: none;
            width: 100%;
        }

        #location-section {
            width: 90%;
        }
        
    }

@media only screen and (max-width: 400px)
    {
        .section-div p {
            font-size: 14px;
            margin: 10px 20px 30px 20px;
        }

    }
