/* Credit: Font Type implemented from Google Fonts -> https://fonts.google.com/specimen/Libre+Franklin */ 
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;500&display=swap');


/* CHECK DOUBLE CODE */
/* MAKE ONE STYLING CLASS FOR ALL SECTIONS */
/* ADD AUDIO TO WEBSITE */
/* ADD FIGURES INSTEAD OF IMAGES TO MENU */
/* FOOTER HOVER COLOR NOT WORKING */
/* Credit: overflow: hidden coming from w3schools.com */
/* aspect ratio: https://css-tricks.com/aspect-ratio-boxes/ */
/* Credit: overflow: hidden coming from w3schools.com */


/* body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;

   
    background: url('/assets/images/background.jpg') no-repeat top center;
    background-attachment: fixed;

    /* https://www.bitdegree.org/learn/responsive-image */
    background-size: cover;
}

/* header */
header {
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom: 2px solid rgb(223, 152, 96);
    }

#header-navbar-div {
    width: 100%;
    border-bottom: 2px solid black;
    }

/* header-logo */
#header-logo-div {
    height: 130px;
    width: 70%;
    float: left;
    }

#logo-div {
    margin-top: 25px;
    margin-left: 25px;
    }

#logo-text-top {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.2px;
    color: white;
    }

#logo-text-bottom {
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 6px;
    color: rgb(223, 152, 96);
    }

#logo-div > a {
    text-decoration: none;
    }


/* header-navigation */
#header-navbar-div {
    width: 100%;
    }

nav > ul {
    padding: 22px 0;
    margin: 0;
    text-align: center;
    }

nav > ul > li {
    list-style-type: none;
    font-size: 26px;
    font-weight: 200;
    display: inline-block;
    padding: 0 30px;
    }

nav > ul > li > a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    }

nav > ul > li > a:hover {
    color: rgb(223, 152, 96);
    transition: 1s;
    /* https://stackoverflow.com/questions/30125705/css-how-to-make-an-element-fade-in-and-then-fade-out */
    }

/* header-flags */
#header-flags-div {
    height: 130px;
    width: 30%;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: unset;
    }

.flag-div {
    height: 20px;
    float: right;
    border: 1px solid rgb(100, 100, 100);
    margin-top: 25px;
    margin-right: 25px;
    text-align: center;
    font-size: 12px;
    }

#navbar-linebreak {
    display: none;
    }

/* index.html */
h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 20px 20px 10px 20px;
    color: rgb(223, 152, 96);
    }

#main-div {
    float: left;
    width: 100%;
    overflow: hidden;
    }

.section-div {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 20vh auto;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(223, 152, 96);
    overflow: hidden;
    box-sizing: border-box;
   }

.section-div div {
    float: left;
    width: 50%;
    }

.section-div p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 10px 20px 30px 20px;
    box-sizing: border-box;
    color: white;
    }

#section-welcome {
    margin-top: 30vh;
    margin-bottom: 50vh;
    }

#location-map {
    object-fit: cover;
    margin: 15px auto 10px auto;
    width: 90%;
    height: 90%;
    float: none;
    border: 2px solid black;
    }

#map-description {
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0 auto 30px auto;
    }

#location-map > a > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }

.text-field {
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(223, 152, 96);
    width: 50%; padding: 5px 10px;
    font-size: 16px;
    border: 1px solid rgb(223, 152, 96);
    background-color: transparent;
}

.button {
    font-family: 'Libre Franklin', sans-serif;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    color: whitesmoke;
    margin: 20px 0 30px 0;
    font-size: 16px;
    padding: 5px 20px;
}

.button:hover {
    background-color: rgb(223, 152, 96);
    transition: 1s;
    color: black;
    border-color: black;
}

.payment-icon {
    font-size: 38px;
    margin: 0 6px;
    color: rgb(223, 152, 96);
}

/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    border-top: 2px solid rgb(223, 152, 96);
    float: left;
    width: 100%;
    }

#footer-div {
    margin-top: 30px;
    }

#footer-div > span {
    font-size: 14px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    }

#footer-div li {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
    font-size: 24px;
    }

#footer-div ul {
    text-align: center;
    margin-top: 10px;
    padding: 0;
    }

#footer-div a {
    text-decoration: none;
    color: white;
    }

#footer-div a:hover {
    /* Credit: transition: https://www.w3schools.com/howto/howto_css_transition_hover.asp */
    transition: 1s;
    color: rgb(223, 152, 96);
   
    }

#copyright {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 30px;
    margin-top: 30px;
    color: white;
    letter-spacing: 1px;
    }

#footer-linebreak {
    display: none;
    }


/* menu.html */




/* media queries */
@media only screen and (max-width: 900px)
    {
        #main-div {
            box-sizing: border-box;
            overflow: hidden;
        }

        .section-div {
            width: 90%;
            box-sizing: border-box;
            overflow: hidden;   
        }

        .section-div div {
            display: block;
            float: none;
            width: 100%;
        }

        #location-section {
            width: 90%;
        }

        nav > ul > li {
        padding: 0 20px;
        }

        #navbar-linebreak {
            display: inline;
        }
    }


@media only screen and (max-width: 600px)
    {
       #copyright {
           font-size: 14px;
       }

       #header-flags-div {
            flex-direction: column-reverse;
            justify-content: right;
            align-items: flex-end;
       }

    }

@media only screen and (max-width: 400px)
    {

        #logo-text-top {
            font-size: 15px;
            letter-spacing: 1px;
        }

        #logo-text-bottom {
            font-size: 36px;
        }

        nav > ul > li {
            font-size: 20px;
            padding: 0 10px;
            
        }

        h2 {
            font-size: 16px;
        }

        .section-div p {
            font-size: 14px;
            margin: 10px 20px 30px 20px;
     
        }

        #footer-linebreak {
            display: inline;
        }
    }

